.App {
  background-color: #f5f5f5;
  display: flex;
}

.list {
    /*background-color: yellow;*/
    padding: 50px 20px;
    border-right: 6px solid #3f3f3f;
}

.board {
  /*background-color: purple;*/
}
