.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    margin: 30px;
}
.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

/* Looks like there's a text mixin */
.bottom-container > button { 
    border: 6px solid black;
    padding: 20px 40px;
    margin: 30px 30px;
    font-size: 24px;
    font-weight: bold;
    color: #3f3f3f;
    background: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bottom-container > button:hover { 
    color: #f5f5f5;
    background: #2FB8AC;
}

.bottom-container > p { 
    font-weight: bold;
    color: black;
    background: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bottom-container > p span {
    display: block;
    margin-top: 10px;
}

.matched {
    visibility: visible;
}

.not-matched {
    visibility: hidden;
}
